{% extends "layout" %}

{% block sidebar %}
{% include "admin/admin_sidebar" %}
{% endblock %}


{% block content %}
<h1>Admin</h1>

<div class="text-center">
    <img src="{{ asset('images/welcome.png') }}" width="789" height="420" alt="Welcome">
</div>

{% endblock %}