{% extends "admin/layout" %}

{% block header %}
<div class="header-section">
    <h1>AniDB <span class="text-muted h6">Importer</span></h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">

        <div class="card card-body">
            <h4 class="card-title">Titres d'animes</h4>
            <div class="d-flex justify-content-between">
                <div>Titres en mémoire : {{ title_count }}</div>
                <form action="{{ urlFor('admin.importer.anidb.reload-titles') }}" method="post">
                    <button type="submit" class="btn btn-icon btn-primary"><span class="material-icons">refresh</span> Actualiser</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}