.header-section {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFF;

    & > h1 {
        margin: 0.5rem;
        padding: 0 0.5rem;
    }

    & > div {
        display: flex;
        flex-direction: row;
        padding: 0 2rem;
    }

    .header-navigation {
        flex-grow: 1;

        & > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            & > li > a {
                display: block;
                padding: 0.5rem 1rem;
                border-bottom: 3px solid #FFF;
                text-decoration: none;

                color: #000;

                &.active {
                    border-bottom-color: red;
                    font-weight: bold;
                }
            }
        }
    }

    &::after {
        content: '';
        box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        height: 6px;
        /*opacity: 0;*/
        pointer-events: none;
        z-index: 50;
    }
}