{% extends "layout" %}

{% block content %}
<h1>Importation</h1>

<h3>Anime</h3>
<ul>
    <li><a href="{{ urlFor('importer.anidb.search') }}">AniDB</a> <small>(<a href="https://anidb.net/">site</a>)</small></li>
</ul>


{% endblock %}