.shadow-z1, .card, .element-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.shadow-z2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.shadow-z3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.shadow-z4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.shadow-z5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Card upgrades */
.card-body > .table {
  margin-bottom: 0;
}

.navbar::after {
  content: '';
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 6px;
  /*opacity: 0;*/
  pointer-events: none;
  z-index: 50;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
}

.form-group > label {
  font-weight: bold;
}

.dropdown-item {
  display: flex;
  align-items: center;
}
.dropdown-item > .material-icons {
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

.btn-sm > .material-icons {
  font-size: 1rem;
}

html, body {
  height: 100%;
}

body {
  height: 100vh;
  background-color: #F5F5F6;
  /*#E1E2E1;*/
}

.main {
  padding: 1rem;
  overflow: auto;
  flex: 1 auto;
  height: calc(100vh - 62px);
}

.header-section + .main {
  height: calc(100vh - 108px - 62px);
}

.section {
  display: flex;
  flex-direction: row;
}
.section--content {
  flex-grow: 1;
}
.section--sidebar {
  width: calc(300px + 4rem);
  padding: 0 2rem;
}
.section--content + .section--sidebar, .section--sidebar + .section--content {
  margin-left: 2rem;
}

.sidebar {
  position: relative;
  background-color: #EEE;
  padding: 1rem;
  width: 200px;
  z-index: 50;
}
.sidebar::after {
  content: '';
  box-shadow: inset 5px 0px 6px -3px rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  right: -6px;
  width: 6px;
  /*opacity: 0;*/
  pointer-events: none;
  z-index: 49;
}

.card-custom-header {
  display: flex;
  justify-content: space-between;
}
.card-custom-header .btn-option {
  line-height: 1;
  padding: 0;
}

.element-card {
  position: relative;
  margin: .25rem;
  border-radius: .25rem;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
}
.element-card > img {
  margin-right: 1rem;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.element-card > div {
  flex: 1;
  padding: .25rem;
}

.header-section {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #FFF;
}
.header-section > h1 {
  margin: 0.5rem;
  padding: 0 0.5rem;
}
.header-section > div {
  display: flex;
  flex-direction: row;
  padding: 0 2rem;
}
.header-section .header-navigation {
  flex-grow: 1;
}
.header-section .header-navigation > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header-section .header-navigation > ul > li > a {
  display: block;
  padding: 0.5rem 1rem;
  border-bottom: 3px solid #FFF;
  text-decoration: none;
  color: #000;
}
.header-section .header-navigation > ul > li > a.active {
  border-bottom-color: red;
  font-weight: bold;
}
.header-section::after {
  content: '';
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 6px;
  /*opacity: 0;*/
  pointer-events: none;
  z-index: 50;
}

ul.tag-list {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-start;
}
ul.tag-list li + li::before {
  content: ", ";
}

.search-input {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #6c757d;
  color: #FFF;
}
.search-input::placeholder {
  color: #BBB;
}
.search-input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #6c757d;
  box-shadow: none;
  color: #FFF;
}
.search-input:focus::placeholder {
  color: #FFF;
}

.search-button {
  color: #BBB;
  background-color: rgba(255, 255, 255, 0.1);
}
.search-button:hover {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.1);
}

.table .table-action {
  visibility: hidden;
}

.table tr:hover .table-action {
  visibility: visible;
}

.entity-layout {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .entity-layout {
    flex-direction: row;
  }
}
.entity-layout__center {
  flex-grow: 1;
}
.entity-layout__sidebar {
  width: 100%;
  padding: 0;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .entity-layout__sidebar {
    width: calc(300px + 4rem);
    margin-right: 1rem;
    padding: 0 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
