{% extends "layout" %}

{% block content %}

<div class="d-flex justify-content-center mt-5">

    {% for user in userList %}
    <div class="d-flex flex-column align-items-center mx-4 position-relative">
        {{ user_image(user.id, 'full', 'rounded mb-3 bg-white shadow-z1') }}
        <form method="post" action="{{ urlFor('auth.change') }}">
            <input type="hidden" name="id" value="{{ user.id }}">
            <button class="stretched-link btn btn-link"><span class="h4">{{ user.name }}</span></button>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock %}
